

/* Normal desktop :992px. */
@media (min-width:1600px) and (max-width: 1680px) {
.col-xs-12.col-sm-6.col-md-3.col-lg-4.mainlogo {
    width: 17%;
}
.col-md-6.col-sm-8.mainposmenu {
   width: 58%; 
}
.table-srcoll.table-responsive {
    height: 283px !important;
}
}
@media (min-width: 900px) and (max-width: 1680px) {
.table-srcoll.table-responsive {
    height: 283px !important;
}
.order-table-top ul > li a {
    padding: 13px 12px;
    margin: 0px 6px;
    font-weight: bold;
    font-size: 12px;
}
.order-table-top ul > li {
    display: inline-block;
    line-height: 58px;
}
 .order-table-top ul > li a {
    padding: 13px 10px;
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
}   
}


@media (min-width: 1390px) and (max-width: 1440px) {
.pro-count ul > li {
    margin-bottom: 0;
    width: 33%;
}
}
@media (min-width: 900px) and (max-width: 1440px) {
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 44%;
}
.order-table-top ul > li a {
    padding: 12px 4px;
    margin: 1px;
    line-height: 52px;
}
.allpos-items {
    max-height: 345px;
}
.table-srcoll {
    max-height: 527px;
    height: 168px !important;
}
.col-md-2.col-sm-6.mainposlogo {
    width: 12%;
}
.col-md-5.col-sm-8.mainposmenu {
    width: 67%;
}
.account-info .nav>li>a {
    padding:16px 12px
}
.mainlogo {
    width: 12%;
}
.col-md-6.col-sm-8.mainposmenu {
    width: 66%;
}
.col-xs-12.col-sm-3.col-md-1.ringerlogo {
    padding: 10px;
}
.navbar-collapse .navbar-left {
    margin-left: -38px;
}
.table>tbody>tr>td,.table>tbody>tr>th {
    vertical-align: middle;
}
.pos-pro-body-qit button {
    padding: 5px 7px;
    margin: 2px 0px;
}
.pro-count ul > li {
    margin-left: 0;
    margin-bottom: 11px;
}
.grand-toral-links ul > li > button {
    padding: 10px 9px;
}
.order-table-top ul > li {
    line-height: 45px;
    padding: 2px 3px;
}
.order-table-top ul > li a {
    padding: 12px 11px;
    margin: 1px;
    line-height: 0;
    font-size: 11px;
    font-weight: bold;
}
.order-table-contetn-table {
    margin-top: 8px;
}
.grand-toral-links {
    margin-top: 17px;
}
.grand-toral-links ul > li >a {
    padding: 11px 7px;
    margin: -1px;
}
.grand-toral-links ul > li > button {
    padding: 6px 2px;
    margin: 0;
}
.order-table-contetn-table .table>tbody>tr>td {
    padding: 0px 8px;
}
.pro-count ul > li {
    margin-bottom: 0;
}
li.allpos-item {
    margin-bottom: 34px;
    margin-right: 1px;
}

.order-table-contetn-table .table>tbody>tr>td {
    padding: 0px 12px;
    vertical-align: middle;
}
.employ-section {
    padding: 32% 0;
    width: 45% !important;
}
.payment-container {
    width: 85%;
    margin: 0 auto;
    background: #ecf1f5;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
.online-status {
    right: -20px;
}
.allpos-items {
    max-height: 345px;
}
.table-srcoll {
    max-height: 527px;
    height: 168px !important;
}
.allpos-item-content {
    padding-top: 7px;
    width: 114px;
    height: 127px;
    line-height: 14px;
}
.mainlogo {
    width: 15%;
}
.nav>li>a {
    padding: 10px 11px;
}
.col-md-6.col-sm-8.mainposmenu {
    width: 66%;
}
.col-xs-12.col-sm-3.col-md-1.ringerlogo {
    padding: 10px;
}
.navbar-collapse .navbar-left {
    margin-left: -38px;
}
.order-table-top ul > li {
    line-height: 39px;
}
.order-table-top ul > li a {
    padding: 12px 4px;
    margin: 2px;
    line-height: 0;
    font-size: 11px;
    font-weight: bold;
}
.order-table-contetn-table {
    margin-top: 8px;
}
.grand-toral-links {
    margin-top: 17px;
}
.grand-toral-links ul > li >a {
    padding: 11px 7px;
    margin: -1px;
}
.grand-toral-links ul > li > button {
    padding: 6px 2px;
    margin: 0;
}
.order-table-contetn-table .table>tbody>tr>td {
    padding: 0px 8px;
}
.pro-count ul > li {
    margin-bottom: 0;
}

}
@media (min-width: 1024px) and (max-width: 1080px) {
ul.nav.navbar-nav li a > span.fa {
    display: none;
}
.allpos-item-content {
    padding-top: 7px;
    width: 114px;
    height: 127px;
    line-height: 14px;
}
.allpos-items {
    max-height: 345px;
}
.table-srcoll {
    max-height: 527px;
    height: 168px !important;
}
.mainlogo {
    width: 11%;
}
.col-md-6.col-sm-8.mainposmenu {
    width: 68%;
}
.col-xs-12.col-sm-3.col-md-1.ringerlogo {
     padding: 7px;
    padding-top: 0;
}
.navbar-collapse .navbar-left {
    margin-left: -38px;
}
nav.navbar.bootsnav ul.nav > li > a {
    padding: 15px 7px;
    font-weight: normal;
    margin-bottom: 0px;
    border-right: none;
    border: none;
    font-size: 12px;
}
.order-table-top ul > li {
    line-height: 39px;
}
.order-table-top ul > li a {
    padding: 12px 4px;
    margin: 2px;
    line-height: 0;
    font-size: 11px;
    font-weight: bold;
}
.order-table-contetn-table {
    margin-top: 8px;
}
.grand-toral-links {
    margin-top: 17px;
}
.grand-toral-links ul > li >a {
    padding: 11px 7px;
    margin: -1px;
}
.grand-toral-links ul > li > button {
    padding: 6px 2px;
    margin: 0;
}
.order-table-contetn-table .table>tbody>tr>td {
    padding: 0px 8px;
}
.pro-count ul > li {
    margin-bottom: 0;
}

}
@media (min-width: 768px) and (max-width: 1123px) {
.allpos-item-content {
    padding-top: 7px;
    width: 114px;
    height: 127px;
    line-height: 14px;
}
.erniing-item {
    width: 17%;
}

/*** category page **/
.order-table-top ul > li a {
    padding: 12px 10px;
    margin: 0px;
}
.order-table-top ul > li {
    margin-bottom: 20px;
}
.pro-selectarea, .pos-itemcode {
    display: block;
    margin-bottom: 10px;
}
.table>tbody>tr>td{
    padding: 8px;
}
.pos-order-table {
    margin-top: 47px;
}
.split-container {
    width: 99%;
}
.putonhlod-container {
    width: 83%;
}
.payment-container {
    width: 97%;
}
.paybox-num-button {
    width: 73px;
    height: 58px;
}
.login-inner {
    padding: 13% 0;
    padding-bottom: 0;
}

.employ-section {
    padding: 34% 0;
    width: 45% !important;
}
.paybox-num-button {
    width: auto;
    height: auto;
}






}
@media (min-width: 900px) and (max-width:1440px) {
.main-logo {
    margin: 16px -21px;
}
.allpos-items {
    max-height: 345px;
}
.logo1 {
    padding: 6px 0;
}
.table-srcoll {
    max-height: 527px;
    height: 168px !important;
}
 .pos-to-right.text-right ul li {
    font-size: 12px;
    font-weight:  normal;
}

.pos-to-right.text-right ul li strong {
    font-weight:  normal;
    text-transform:  capitalize;
    margin-right: 15px;
}
input#cmp {
    margin-top: 2px;
    position: relative;
    top: 4px;
}
button.btn.btn-button.kdcustom:focus {
    outline: none;
    border: 1px solid transparent;
}
button.btn.btn-button.kdcustom:hover {
    background: #d60909;
    color: #fff;
}
ul.grand-toral li strong {
    font-size: 13px;
}
.pos-to-left.text-left > ul > li {
    line-height: 32px;
}
input.pos-count-discount {
    width: 80px;
    padding: 0px 5px;
}
.grand-toral-links ul > li > button {
    padding: 8px 11px;
    margin: 0px 6px;
    font-size: 12px;
}
.grand-toral-links ul > li >a {
    padding: 12px 11px;
    margin: 0 1px;
}
.order-table-contetn-table .table>tbody>tr>td {
    padding: 0px 2px;
}
td.text-center.custom-price {
    width: 12%;
}
td.custom-delect.text-center {
    width: 5%;
}
.pos-pro-body-qit button {
    padding: 2px 3px;
    margin: 0px -2px;
    padding-bottom: 0;
}
.pos-pro-body-qit button.plus-item {
    padding: 1px 4px;
}
td.custom-proce-stye {
    font-size: 10px;
    text-transform: capitalize !important;
    font-weight: 600;
    color: #000;
}
}
@media (min-width: 768px) and (max-width:1024px) {
    
.allpos-items {
    max-height: 345px;
}
.table-srcoll {
    max-height: 527px;
    height: 168px !important;
}
.user-action a {
    padding: 8px 6px;
} 
a.user-removed {
    background: transparent;
    color: #333;
}
a.user-removed:hover,.user-action a:hover{background-color: transparent;color: #333}
nav.navbar.bootsnav .navbar-toggle {
    background-color: transparent;
    color: #333;
}

nav.navbar.bootsnav ul.nav > li > a > span {
    display: none;
}
nav.navbar.bootsnav ul.nav > li > a {
    padding:15px 24px;
    font-weight: normal;
    margin-bottom: 0px;
    border-right: none;
    border: none;
}
.logo {
    padding: 4px 0;
    text-align: center;
}
.main-logo {
    text-align: center;
}
.ringer-logo img {
    margin-top: 16px;
    width: 100%;
}
.account-info > ul > li {
    border-right: none;
    border-top: none;
}
.account-info .nav>li>a {
    padding:14px 5px;
}
.employ-section {
    padding: 13% 0;
    width: 45% !important;
}
.payment-area {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 0px 33px;
}
}
@media (min-width: 1024px) and (max-width: 1080px) {
    .per-kitchen button.btn {
        padding: 5px 9px;
        margin: 5px 2px;
    }
    header.order-hidden-page {
    display: none;
}
.home-icons a {
    position: fixed;
    width:  40px;
    height:  40px;
    display:  block;
    background: white;
    color: #333;
    font-size: 17px;
    border-radius:  100%;
    padding: 9px 12px;
    box-shadow: 0px 0px 9px 1px #dcd9d9;
    left: 5px;
    top:  8px;
}

.home-icons a:hover {
    background: red;
    color:  #fff;
}
.allpos-items {
    max-height: 345px;
}
.table-srcoll {
    max-height: 527px;
    height: 217px !important;
}
nav.navbar.bootsnav ul.nav > li > a {
    padding: 15px 7px;
    font-weight: normal;
    margin-bottom: 0px;
    border-right: none;
    border: none;
    font-size: 12px;
}
.mainlogo {
    width: 11%;
}
.col-md-6.col-sm-8.mainposmenu {
    width: 68%;
}
.col-xs-12.col-sm-3.col-md-1.ringerlogo {
     padding: 7px;
    padding-top: 0;
}
.navbar-collapse .navbar-left {
    margin-left: -38px;
}
nav.navbar.bootsnav ul.nav > li > a {
    padding:15px 5px;
    font-weight: normal;
    margin-bottom: 0px;
    border-right: none;
    border: none;
    font-size: 12px;
}
.order-table-top ul > li {
    line-height: 39px;
}
.order-table-top ul > li a {
    padding: 13px 9px;
    margin: 4px;
    line-height: 5;
    font-size: 11px;
    font-weight: bold;
}
.order-table-contetn-table {
    margin-top: 8px;
}
.grand-toral-links {
    margin-top: 17px;
}
.grand-toral-links ul > li >a {
    padding: 13px 9px;
    margin: 2px;
}
.grand-toral-links ul > li > button {
    padding: 8px 10px;
    margin: 3px;
}
.order-table-contetn-table .table>tbody>tr>td {
    padding: 0px 8px;
}
.pro-count ul > li {
    margin-bottom: 0;
    margin-right: 8px;
    width: 31%;
}
.nav>li>a {
    padding: 10px 8px;
}
.order-table-top ul > li {
    margin-bottom: 0;
    padding: unset;
}
li.allpos-item {
    margin-bottom: 34px;
    margin-right: 30px;
}
}

@media (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
    .pro-countarea select.tb-select {
    max-width: 185px;
}
.order-table-contetn-table .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: -2px;
    right: -45px;
    width: auto;
}
.pro-selectarea, .pos-itemcode {
    display: inline-block;
    width: 10%;
}
li.col-lg-5.col-md-4.col-sm-4.col-xs-12.customer-table-custom-area {
    width: 34%;
}
.order-table-contetn-table .customer-table-custom-area .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: -2px;
    right:-41px;
    width: auto;
}
    .per-kitchen button.btn {
        padding: 5px 9px;
        margin: 5px 2px;
    }
    button#new-cal-clear {
    width: 122%;
}
.split-container {
    width: 90%;
}
.split-container .hold-area {
    margin: 1px 30px;
}
 .hold-list-items {
    padding-bottom: 0;
}   
.hold-order-detaisls {
    padding: 1px 25px;
}
.hol-scrol {
    max-height: 260px;
}
.hold-list-items {
    padding-bottom: 0;
}
.pos-order-table {
    margin-top: 0;
}
li.allpos-item {
    margin-bottom: 34px;
    margin-right: 30px;
}
.order-table-contetn-table {
    margin-top: 17px;
    padding-bottom:0px;
}
.home-icons a {
    position: fixed;
    width:  40px;
    height:  40px;
    display:  block;
    background: white;
    color: #333;
    font-size: 17px;
    border-radius:  100%;
    padding: 9px 12px;
    box-shadow: 0px 0px 9px 1px #dcd9d9;
    left: 5px;
    top:  8px;
}

.home-icons a:hover {
    background: red;
    color:  #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
    .pro-count ul > li {
    margin-bottom: 0;
    margin-right: 13px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 40%;
}
.order-table-top ul > li a {
padding: 13px 12px;
    margin: 0px;
    font-size: 11px;
    font-weight: bold;
    display: inline;
}
.order-table-top ul > li {
    line-height: 48px;
}
.mainlogo {
    width: 14%;
} 
.col-md-2.col-sm-6.mainposlogo {
    width: 6%;
} 
.main-logo a h4 {
    font-size: 12px;
}
.col-md-5.col-sm-8.mainposmenu {
    width: 66%;
}
.col-md-2.col-sm-6.mainposlogo {
    width: 10%;
    text-align: center;
}
.account-info .nav>li>a {
    padding: 15px 11px;
}

.poscat-list-inner aside.col-xs-12.col-sm-12.col-md-6.col-lg-8, .poscat-list-inner aside.col-xs-12.col-sm-12.col-md-6.col-lg-4 {
    width: 50%;
}
li.allpos-item {
    margin-bottom: 16px;
    margin-right: 0px;
}
 li.total-items {
        margin-bottom: 0;
    }
    .pos-to-right.text-right ul li {
    font-size: 12px;
    font-weight:  normal;
}

.pos-to-right.text-right ul li strong {
    font-weight:  normal;
    text-transform:  capitalize;
    margin-right: 15px;
}
input#cmp {
    margin-top: 2px;
    position: relative;
    top: 4px;
}
button.btn.btn-button.kdcustom:focus {
    outline: none;
    border: 1px solid transparent;
}
button.btn.btn-button.kdcustom:hover {
    background: #d60909;
    color: #fff;
}
ul.grand-toral li strong {
    font-size: 13px;
}
.pos-to-left.text-left > ul > li {
    line-height: 32px;
    font-size: 12px;
}
.pos-order-table .table-srcoll {
    max-height: 527px;
    height: 217px !important;
}
.main-logo {
    margin: 18px -21px;
}
input.pos-count-discount {
    width: 80px;
    padding: 0px 5px;
}
.grand-toral-links ul > li > button {
    padding: 8px 11px;
    margin: 0px 6px;
    font-size: 12px;
}
.grand-toral-links ul > li >a {
    padding: 12px 11px;
    margin: 0 1px;
}
.order-table-contetn-table .table>tbody>tr>td {
    padding: 0px 2px;
}
td.text-center.custom-price {
    width: 12%;
}
td.custom-delect.text-center {
    width: 5%;
}
.pos-pro-body-qit button {
    padding: 2px 3px;
    margin: 0px -2px;
    padding-bottom: 0;
}
.pos-pro-body-qit button.plus-item {
    padding: 1px 4px;
}
td.custom-proce-stye {
    font-size: 10px;
    text-transform: capitalize !important;
    font-weight: 600;
    color: #000;
}

.logo1 {
    width: 43px;
}
table.table.pos-product-list-table {
    margin-top: -1px;
}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .pro-count ul > li strong {
    display: block;
}
    .logo1 {
    width: 43px;
}
    button#new-cal-clear {
    width: 122%;
}
  .hold-list-items {
    padding-bottom: 0;
}   
.hold-order-detaisls {
    padding: 1px 25px;
}
.hol-scrol {
    max-height: 400px;
}
.hold-areabox .table-srcoll {
    height: 480px !important;
}
.split-container .hold-areabox .table-srcoll {
    height: 357px !important;
}
.hold-list-items {
    padding-bottom: 0;
}
.pos-order-table {
    margin-top: 0;
}
li.allpos-item {
    margin-bottom: 34px;
    margin-right: 30px;
}
.split-container .hold-area {
    margin: 0 6px;
}
.paynet-footer {
    padding: 4px 0;
    padding-bottom: 0px;
}




 .hold-area {
    padding: 4px 37px;
}
    .payment-area .order-table-contetn-table {
        margin-top:0px;
        padding-bottom: 0;
    }
    .order-table-contetn-table {
        margin-top: 17px;
        padding-bottom: 0;
    }
    .pos-order-table {
        margin-top: 0;
    }
   
.home-icons{display: block !important;}
header.order-hidden-page {
    display: none;
}
    .account-info .nav>li>a {
        padding: 14px 5px;
    }
    .header-top {
        padding: 0px 20px;
    }
    .mainposmenu {
        width:72%;
    }
    .mainlogo {
    width: 11%;
    padding: 3px 15px;
}
  .col-md-2.col-sm-6.mainposlogo {
         width: 8%;
    overflow: hidden;
    padding: 5px;
    }
    .m-container {
        width: 100%;
    }
    .main-logo > a h4 {
        font-size: 12px;
    }
    .order-table-top ul > li a {
        padding: 12px 10px;
        margin: 1px 3px;
        line-height: 48px;
        font-size: 12px;
        font-weight: bold;
        display: inline;
    }
    .pro-selectarea, .pos-itemcode {
        display: inline-block;
        margin-bottom: 00px;
    }
    span.select2-dropdown.select2-dropdown--below {
    width: 285px !important;
    float: left;
    position: absolute;
    left: -1px;
    top: 3px;
    }
    .pos-to-left.text-left ul li {
        font-size: 13px;
        text-transform: capitalize;
        line-height: 26px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        top: 41%;
    }
      li.total-items {
        margin-bottom: 0;
    }
    .pos-to-right.text-right ul li {
    font-size: 12px;
    font-weight:  normal;
}

.pos-to-right.text-right ul li strong {
    font-weight:  normal;
    text-transform:  capitalize;
    margin-right: 15px;
}
input#cmp {
    margin-top: 2px;
    position: relative;
    top: 4px;
}
button.btn.btn-button.kdcustom:focus {
    outline: none;
    border: 1px solid transparent;
}
button.btn.btn-button.kdcustom:hover {
    background: #d60909;
    color: #fff;
}
ul.grand-toral li strong {
    font-size: 13px;
}
.pos-to-left.text-left > ul > li {
    line-height: 32px;
}
input.pos-count-discount {
    width: 80px;
    padding: 0px 5px;
}
.grand-toral-links ul > li > button {
    padding: 8px 11px;
    margin: 0px 6px;
    font-size: 12px;
}
.grand-toral-links ul > li >a {
    padding: 12px 9px;
    margin: 0 1px;
}
table.table.pos-product-list-table {
    margin-top: -1px;
}
.order-table-contetn-table .table>tbody>tr>td {
    padding: 0px 2px;
}
td.text-center.custom-price {
    width: 12%;
}
td.custom-delect.text-center {
    width: 5%;
}
.pos-pro-body-qit button {
    padding: 2px 3px;
    margin: 0px -2px;
    padding-bottom: 0;
}
.pos-pro-body-qit button.plus-item {
    padding: 1px 4px;
}
td.custom-proce-stye {
    font-size: 10px;
    text-transform: capitalize !important;
    font-weight: 600;
    color: #000;
}
.home-icons a {
    position: fixed;
    width:  40px;
    height:  40px;
    display:  block;
    background: white;
    color: #333;
    font-size: 17px;
    border-radius:  100%;
    padding: 9px 12px;
    box-shadow: 0px 0px 9px 1px #dcd9d9;
    left: 5px;
    top:  8px;
}

.home-icons a:hover {
    background: red;
    color:  #fff;
}
}
@media (min-width: 320px) and (max-width:992px) {
.navbar-toggle {
    display: block;
}
.navbar-nav>li {
    float: none;
    display: block;
    position: relative;
}

}
@media (min-width: 600px) and (max-width:1024px) {
.table-srcoll.table-responsive {
    height: 195px !important;
}
.paybox-area .table-srcoll.table-responsive {
    height: 149px !important;
}
}


@media (max-width: 1020px) {
    .caret {
        float: right;
    }
    .online-status {
        top: 13px;
        left: 0;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
    display: block;
    z-index: 9999;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}

@media (min-width: 320px) and (max-width:748px) {

.caret {
    float: right;
}
.online-status {
    top: 13px;
}
.main-logo {
    position: relative;
    top: 11px;
}
.split-container {
    width: 100%;
    margin: 0 auto;
    background: #ecf1f5;
}
.search-input input[type="text"] {
    width: auto;
}
.search-area {
    margin-bottom: 30px;
}
.order-table-top ul > li a {
    padding: 13px 10px;
}
.order-table-top {
    margin-top: 29px;
}
input.pos-item-code {
    max-width: 76px;
}
.pro-count ul > li {
    margin-left: 7px;
}
.grand-toral-links ul > li >a{
    padding: 13px 11px;
    margin: 0;
}
.grand-toral-links ul > li > button {
    padding: 10px 15px;
}
.header-top {
    text-align: center;
}
nav.navbar.bootsnav .navbar-toggle {
    background-color: transparent;
}
.account-info .navbar-nav .open .dropdown-menu {
    background-color: #fff;
}
nav.navbar.bootsnav ul.nav > li > a > span {
    display: none;
}
nav.navbar.bootsnav ul.nav > li > a {
    padding: 10px 0;
}

.manearea nav.navbar.bootsnav .navbar-nav > li > a,.manearea nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a {
    border-bottom: none;
    border-top: solid 1px #648e3e;
    margin-bottom: 0px;
}
.manearea nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a {
    color: #fff;
}
nav.navbar.bootsnav ul.nav > li > a:hover, nav.navbar.bootsnav ul.nav > li > a.active,.manearea nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a:hover {
    background: transparent;
    color:#333;
}

.split-pas-top,.split-pas-bottom{
    padding: 14px 0px;
}
.input-box ul li input {
    width: 72%;
}
.payment-container {
    width: 87%;
}
.paybox-area {
    left: 0;
    padding: 14px;
    margin: 1px 15px;
}

}
@media(min-width: 375px) and (max-width:667px){ 
.input-box ul li input {
    width: 70%;
}
.order-table-top ul > li a {
    background: #fff;
    margin: 1px;
    padding: 13px 10px;
    border-radius: 4px;
    color: #333;
    font-weight: bold;
    box-shadow: 2px 2px 3px 0px #c3c3c3;
}
.order-table-top ul > li {
    margin-bottom: 28px;
}
.dis-container {
    width: 62%;
}
.employ-section {
    padding: 13% 0;
    width: 50% !important;
}
}
@media(min-width: 320px) and (max-width:568px){ 
.grand-toral-links ul > li >a {
    padding: 13px 9px;
}
.order-table-top ul > li a {
    padding: 13px 8px;
    font-size: 11px;
}
a.user-removed {
    background: transparent;
    color: #333;
    padding: 0px;
    margin: 0;
}
a.user-removed:hover,.user-action a:hover{background-color: transparent;color: #333}
.m-container {
    width: 92%;
}
.user-list-table table tr td {
    padding:8px 2px;
}
.report-search.text-right {
    text-align: left;
}
.report-search button {
    margin-top: 10px;
}
.m-container {
    width: 91%;
}
.employ-section {
    padding: 13% 0;
    width: 100% !important;
}
.erniing-item {
    width: 100%;
    margin-bottom: 33px;
        margin-right: 0;
}
.mo-day-list ul li {
    display: inline-block;
    padding: 4px 10px;
}
.split-container .hold-area {
    background: #fff;
    margin: 0;
    padding: 17px;
}
.payment-container {
    width: 100%;
}
.payment-area {
    width: 100%;
    padding: 10px 0;
}
.order-table-top ul > li {
    display: inline-block;
    line-height: 55px;
}
}






