/****Gobla css*****/
h1,h2,h3,h4,h5,h6,p,.no-margin{
margin:0;padding:0;
}
img {
    max-width: 100%;
    height: auto;
}
html,
body {
    font-family: 'Open Sans', sans-serif;
    /*font-size: 13px;*/
    font-size: 14px; /* changed by smartrahat 2019.06.15 3:48 PM */
    line-height: 24px;
    color: #333;
    margin: 0;
}
:focus {
    outline:none;
    border: none
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.animat,.login-button:hover,.login-button,p.copyringt a:hover,p.copyringt a,.account-info ul > li :hover,.account-info ul > li,.account-info ul > li a,nav.navbar.bootsnav ul.nav > li > a:hover,nav.navbar.bootsnav ul.nav > li > a,.mo-day-list ul li:hover,.mo-day-list ul li,.pos-small-btn:hover,.pos-small-btn,.action-icons:hover ,.action-icons,.search-input a:hover,.split-pas-top:hover,.split-pas-bottom:hover,.split-pas-top,.split-pas-bottom,.cash-card li a:hover,.cash-card li a,.cash-left li > a:hover,.cash-left li > a,
.search-input a,.search-area select#sorter:hover,.search-area select#sorter,.allpos-dec a.title:hover,.postotal-button ul > li button:hover,.postotal-button ul > li button,.user-action a:hover,.user-action a,.user-inputbox button.btn-submit:hover ,.user-inputbox button.btn-submit,.pop-removed button:hover,.pop-removed button,button.user-edits:hover,button.user-edits,.split-pas-top span:hover,.split-pas-bottom span:hover,.split-pas-top span,.split-pas-bottom span,
.allpos-dec a.title,.order-table-top ul > li a:hover,.order-table-top ul > li a,.grand-toral-links ul > li >a,.paybox-num-button:hover,.paybox-num-button,.form-group-inner .btn-primary:hover,.form-group-inner .btn-primary,.grand-toral-links ul > li > button,.grand-toral-links ul > li > button:hover,.put-hold-footer ul li button.btn.btn-button:hover,.put-hold-footer ul li button.btn.btn-button,.poscat-menu .owl-prev:hover,.poscat-menu .owl-prev,.poscat-menu .owl-next:hover,.poscat-menu .owl-next,.in-btn button:hover,.in-btn button,.btn-smalls button:hover,.btn-smalls button,.big-btns button:hover,.big-btns button,
.pay-card-list ul li:hover,.pay-card-list ul li,.popUp,.grand-toral-links ul > li >a:hover,.pos-me-img:hover:after,.pos-me-img:hover,.pos-me-img:after,.pay-footer-button button:hover ,.pay-footer-button button,.hold-l-search button:hover,.hold-l-search button,.dis-input button:hover ,.dis-input button,.dis-footer button:hover,.dis-footer button,.endof-day-btn ul li button:hover,.endof-day-btn ul li button,.endofday-top .cancel button:hover,
.endofday-top .cancel button,.close-button button:hover ,.close-button button,.report-search button:hover,.report-search button,button,button:hover,.hold-metad ul li a,.hold-metad ul li a:hover{
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out
}


a,a:focus,a:hover:focus,button:focus,button:hover:focus,.btn:focus,.btn:hover:focus
.home-1 a:focus,a:hover{
text-decoration: none;
outline: none;
border: none;
-webkit-border: none;
-moz-border: none;
-ms-border:none;
-o-border:none;
}
.bg-red {
    background: #ed5565;
}
.bg-color{
    background-color:#171717
}
.nor-color{
    color: #EE1C25
}
.co-white{
color: #fff    
}

/*** padding ***/
.main-logo {
    margin: 12px 0;
}
.mar-top-50{
    margin-top: 50px;
}
.page-padding-top {
    padding-top: 100px;
}
table.table.pos-product-list-table {
    margin-top: 27px;
    margin-bottom: -28px;
}
table.table.pos-product-list-head {
    margin-bottom: 0px;
    margin-top: 0;
    background: #fff;
    position: relative;
    z-index:1;
}
table.table.pos-product-list-head th {
    border: 1px solid #e8e8e8;
}
table.table.pos-product-list-head th {
    border: 1px solid #e8e8e8;
    padding: 7px 1.1px;
}
/*** header ***/
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #333;
    border-color: #333;
}
.logo {
    padding: 4px 0;
    position: absolute;
    z-index: 999;
    top: 15px;
    width: 92%;
}
.pos-me-img {
    min-height: 100px;
}
.logo img {
    max-width: 33%;
    width: 100%;
}
.account-info a {
    color:  #fff;
    text-transform:  capitalize;
}
.account-info > ul li > a:hover{
background-color:transparent
}
.nav .open>a:focus {
    background-color: #333;
    border-color: #333;
}
.account-info > ul > li{border-right: 1px solid  #3e3f40;}

.account-info ul > li:last-child {
    border-right: none;
}
.account-info > ul > li:hover {
    background-color:  #333;
}
.account-info > ul > li:hover {background: #333;}


.account-info > ul > li > ul > li:hover {
    background: #333;
    padding: 4px 0;
    border-bottom: 1px solid #333;
}

.account-info > ul > li > ul > li:hover a {
    color: #fff;
}

.account-info > ul > li > ul > li {
    padding: 4px 0;
    border-bottom: 1px solid #f3f3f3;
    font-size: 13px;
}
.account-info ul.dropdown-menu {
    padding: 0;
    margin: 0;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #333;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu{border-top: 2px solid #EE1C25}
/*** login page ***/
.login-inner form {
    padding: 33px;
    box-shadow: 1px 3px 8px 2px #ececec;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.mo-day-list ul li a {
    color: #fff;
}
.mo-day-list ul li:active,.mo-day-list ul li.active {
    background: #ee1c25;
}
.login-inner {
    padding: 10% 0;
}
.login-inner > h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 13px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.login-button {
    border: none;
    padding:13px 33px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 3px 4px 4px -1px #4f6d34;
}
.btn.btn-primary.btn-file {
    background: #EE1C25;
    border-color: #EE1C25;
}
.login-button:hover {
    background: #333;
    box-shadow: 3px 4px 4px -1px #1f1f1f;
}
.login-page label {
    text-align: right;
}
.allinfo h3{
    font-size: 16px;
    font-weight:  bold;
    text-align:  center;
    padding-bottom: 23px;
}
.allinfo span {
    border-bottom: 2px solid;
    padding: 5px 0px;
}
.top-hadding h2 {
    padding: 10px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

/**** Nav menu ***/
nav.navbar.bootsnav {
    background-color: #231F20;
    border: none;
    border-bottom: transparent;
    border-top: 1px solid #342d2f;
}
nav.navbar.bootsnav ul.nav > li > a {
    color: #ffffff;
    text-transform: uppercase;
}
nav.navbar.bootsnav ul.nav > li > a > span {
    display: block;
    text-align: center;
    margin-bottom: 7px;
}
nav.navbar.bootsnav ul.nav > li > a {
    padding:15px 10px;
    font-weight: 600;
    margin-bottom: 0px;
    border-right: 1px solid  #3e3f40;
}
nav.navbar.bootsnav ul.nav > li > a:hover,nav.navbar.bootsnav ul.nav > li > a.active {
    background: #EE1C25;
}


/*** erniing ***/
.erniing-item {display:  block;}
.erniing-item > ul {
    background: #f9f9f9;
}
.erniing-item {
    display: inline-block;
    width: 18%;
    margin-right: 22px;
    position: relative;
}
.erniing-item:last-child {
    margin-right: 0;
}
.erniing-item ul li {
    text-transform: capitalize;
    padding: 7px 8px;
    border-top: 1px solid #e8e7e7;
    color: #999999;
    font-weight: bold;
}
.erniing-item li.count {
    position: absolute;
    right: 7px;
    padding: 7px 16px;
    background: #EE1C25;
    border-radius: 8px;
    top: 23%;
    color: #fff;
    z-index:1;
    font-weight: bold;
}

.mo-day-list ul li:hover{
   background-color: #EE1C25 
}
.mo-day-list ul li {
    display:  inline-block;
    padding: 4px 14px;
    background: #333;
    color:  #fff;
    border-radius: 16px;
    font-weight: bold;
    cursor:  pointer;
}

.mo-day-list {
    text-align: right;
}


/*** pos product sale list **/
.pos-small-btn {
    padding: 5px 11px;
    border:  none;
}

.pos-small-btn:hover {
    background: #333;
}
.pos-list-content tbody > tr > td > a {
    margin-bottom: 5px;
    margin-top: -8px;
}
.pos-list-content tbody > tr > td {
    padding-bottom: 3px;
    margin: 0;
    padding-top: 14px;
}
.pos-list-title h5 {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
    color: #797979;
}
.pos-list-table {
    box-shadow: 1px 1px 7px 2px #e0e0e0;
    padding: 14px 7px;
}
a.collapse-link {
    color: #EE1C25;
    padding: 10px;
    cursor: pointer;
}
.pos-list-title {
    position:  relative;
}

.pos-list-tools {
    position:  absolute;
    right:  0;
    top: 0;
}





/*** footer ***/
p.copyringt.text-center {
    padding: 14px 0;
    margin: 0;
    color: #fff;
}
p.copyringt a:hover {
    color: #333;
}

p.copyringt a {
    color: #000;
}

/**------********-----------
*
*           All inner page 
*
*--------********-------****** 
*/

/****** order page **/
.order-page thead tr th {
    padding: 15px 7px;
    background: #EE1C25;
    color: #fff;
    font-weight: bold;
}
.order-page .table>tbody>tr>td {
    padding: 13px 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #e8e8e8;
}

.action-icons.edit {
    width: 64px;
    height: 28px;
    background: #ff403c;
    text-align:  center;
    padding: 7px;
    color: #fff;
    border-radius: 15px;
}

.action-icons:hover {
    background: #333;
}

/**------********-----------
*
*           pos category items 
*
*--------********-------****** 
*/
.poscat-container {
    width: 100%;
    padding: 13px 50px;
}
.search-area select#sorter {
    width: 20%;
    padding: 10px 4px;
    border: none;
    background: #EE1C25;
    color: #fff;
    text-transform: capitalize;
}
.search-input {
    width: 77%;
    display:  inline-block;
    position: relative;
    background: #fff;
}

.search-input a {
    padding: 14px 14px;
    font-size: 15px;
    color: #333;
    border-right: 1px solid #e8e8e8;
    position: relative;
    top: 1px;
}

.search-input input[type="text"] {
    padding: 10px 9px;
    border: 1px solid #fff;
    color: #333;
     width: 93%;
}

.poscat-list-page {
    background: #ecf1f5;
}
.search-input a:hover {
    background: #333;
    color: #fff;
}
.search-input a:hover {
    background: #333;
    color: #fff;
}
.search-area select#sorter {
    width: 20%;
    padding: 12.8px 4px;
    border: 1px solid #EE1C25;
    background: #EE1C25;
    color: #fff;
    text-transform: capitalize;
    position: relative;
    left: 3px;
    top: 0px;
    cursor: pointer;
    margin-bottom: 16px;
}
.search-area select#sorter:hover{background-color: #333;border: 1px solid #333;}




/****** menu  pos cat  ***/
/****** menu  pos cat  ***/
.allpos-item-img {
    width: 93%;
    height: 65%;
    margin: 0 auto;
}

.allpos-item-img img {
    width:  100%;
    height:  100%;
    object-fit:  cover;
}
li.pos-c-menu {
    display:  inline-block;
    text-align:  center;
    background: #fff;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer
}

li.pos-c-menu h6 {
    font-weight:  bold;
    margin-top:  12px;
    margin-bottom:  1px;
    font-size: 13px;
    width: 108px;
}
li.allpos-item {
    margin-bottom:18px;
}

.allpos-items {
    margin-top: 17px;
}
.pos-list-item {
    background: #fff;
    margin-top: 20px;
    padding: 0px 15px;
}
.allpos-dec a.title {
    margin-top: 7px;
    display: block;
    margin-bottom: 6px;
    color: #333;
    font-weight: bold;
    line-height: 15px;
}
.allpos-item-content {
    position: relative;
    text-align: center;
    padding-top: 13px;
    width: 143px;
    height: 130px;
    box-shadow: 1px 2px 5px 1px #d8d8d8;
    line-height: 12px;
    border-radius: 10px;
}
.allpos-dec a.title:hover {
    color: #EE1C25;
}
#pos-cmenu .owl-item.active {
    margin-right: 9px !important;
}
.table-srcoll{
    overflow-y: scroll;
    max-height: 350px;
    overflow-x: hidden;
}
.allpos-items{
    overflow-y: scroll;
    max-height: 543px;
    overflow-x: hidden;
}

.table-srcoll{
    overflow-y: scroll;
    max-height:600px;
    overflow-x: hidden;
}
.pos-me-img {
    position:  relative;
}

.pos-me-img:after {
    content:  "";

    position:  absolute;
    left: 0;
    top:  0;
    width:  100%;
    height: 100%;
}
.pos-me-img:hover:after{
       background-color: rgba(119,175,68,.85) 
}
/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}



/***  pos order area  ****/
.order-table-top ul > li {
    display: inline-block;
    line-height: 54px;
}

.order-table-top ul > li a {
    background: #fff;
    padding: 13px 11px;
    margin:  5px;
    border-radius:  4px;
    color:  #333;
    font-weight: bold;
    box-shadow: 2px 2px 3px 0px #c3c3c3;
}

.order-table-top ul > li a:hover {
    background: #EE1C25;
    color: #fff;
    box-shadow: 0px 0px 5px 0px #b5262c;
}

.pro-count ul > li strong {
    text-transform:  capitalize;
    display: inline-block;
}

select.tb-select {
    display: inline-block;
    padding: 7px 6px;
    border: 1px solid #dee7ee;
    border-radius: 3px;
    text-transform: capitalize;
    cursor: pointer;
    max-width:  94px;
}
.pro-selectarea,.pos-itemcode {
    display: inline;
}

.pro-count ul > li {
    display: inline-block;
    margin-left: 14px;
}

.order-table-contetn-table {
    margin-top: 30px;
}
.order-table-contetn-table {
    margin-top: 30px;
    background: #fff;
    padding: 10px 16px;
    border: 1px solid #e8e8e8;
}
.pro-countarea select.tb-select {
    max-width: 185px;
}
.payment-area .order-table-contetn-table {
    padding: 0px;
}
input.pos-item-code {
    border: 1px solid #e8e8e8;
    max-width: 54px;
    padding: 2px 7px;
    border-radius: 3px;
}
table.table.pos-product-list-table thead tr th {
    border: 1px solid #e8e8e8;
}

table.table.pos-product-list-table thead {
    border: 1px solid #e8e8e8;
}

table.table.pos-product-list-table {
    margin-top: 27px;
}
tbody.pos-pro-list-table-body a span {
    color: #333;
}
.pos-pro-list-table-dis {
    width: 40px;
    margin:  0 auto;
    border:  none;
}

.pos-pro-list-table-dis input {
    width: 100%;
    border:  none;
    background: #ecf1f5;
    text-align: center;
}
tbody.pos-pro-list-table-body tr th,tbody.pos-pro-list-table-body tr td {
    border: 1px solid #e8e8e8;
}
.pos-pro-body-qit button {
    background: #ecf1f5;
    border: none;
    font-size: 10px;
    font-weight: normal;
    padding: 5px 3px;
    margin: -4px -6px;
    padding-top: 7px;
    border-radius: 3px;
}

.pos-pro-body-qit {
    position:  relative;
}

input.pos-pro-body-qit-input {
    max-width: 38px;
    border:  none;
    background: #ffffff;
    text-align:  center;
    padding: 3px 2px;
    border: 1px solid #e0e6ea;
}
.pos-total-counts {
    padding:9px 9px;
    background: #e0e0e010;
}

.pos-to-left.text-left {
    float: left;
}

.pos-to-left.text-left
 ul li {
    font-size:  16px;
    text-transform:  capitalize;
    line-height: 26px;
}

input.pos-count-discount {
    width:  70px;
    border: 1px solid #ecf1f5;
    background:  #f6f6f6;
    padding: 3px 5px;
}
ul.grand-toral li strong {
    font-size:  16px;
    margin-right:  23px;
}

ul.grand-toral {
    margin-top: 14px;
}
li.total-items {
    margin-bottom: 10px;
}
.grand-toral-links ul
 > li {
    display:  inline-block;
}

.grand-toral-links ul > li >a,.grand-toral-links ul > li >button{
    padding: 14px 18px;
    border:  1px solid #ecf1f5;
    margin: 6px;
    text-transform:  capitalize;
    color:  #333;
    border-radius: 4px;
    font-weight:  bold;
}

.grand-toral-links ul > li >a:hover,.grand-toral-links ul > li >button:hover  {
    background: #EE1C25;
    color: #fff;
}

.grand-toral-links {
    margin-top: 35px;
    text-align:  right;
}
.grand-toral-links ul > li > button {
    background: none;
    padding: 10px 22px;
}


.poscat-menu .owl-prev {
    position:  absolute;
    top: 18%;
    width:  35px;
    height:  35px;
    left: -20px;
    background: #fff;
    font-size:  0px;
    border-radius:  100%;
    box-shadow: 0px -1px 5px 1px #cccccc;
}
.poscat-menu .owl-next {
    position:  absolute;
    top: 18%;
    width:  35px;
    height:  35px;
    right:0;
    background: #fff;
    font-size:  0px;
    border-radius:  100%;
    box-shadow: 0px -1px 5px 1px #cccccc;
}
.order-table-top ul > li a span {
    margin-right: 5px;
}
.poscat-menu-items.content {
    position:  relative;
}
.user-images img {
    box-shadow: 1px 2px 10px 3px #cccccc;
    border-radius: 17px;
    width: 100%;
    height: 100%;
}
.poscat-menu .owl-prev:after {
    content: "\f053";
    position:  absolute;
    font-family: fontawesome;
    font-size:  15px;
    padding: 8px 11px;
    text-align:  center;
}
.poscat-menu .owl-next:after {
    content: "\f054";
    position:  absolute;
    font-family: fontawesome;
    font-size:  15px;
    padding: 8px 11px;
    text-align:  center;
}
.poscat-menu .owl-prev:hover,.poscat-menu .owl-next:hover {
    background: #EE1C25;
    color:#fff
}
/** payment **/

.payment-container {
    width: 55%;
    margin: 0 auto;
    background: #ecf1f5;
}
.payment-area {
overflow: hidden;
    width: 76%;
    margin: 0 auto;
    padding: 34px 0;
}

.paytitle.text-center {
    padding: 4px;
    background:  #e4ebf1;
    text-transform:  uppercase;
    position: relative;
}
.close-button{
    position: absolute;
    right: 0;
    top: 2px;
}
.close-button button {
    background: none;
    border: none;
    background-color: #d40f0f;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    color: #fff;
}
.close-button button:hover {
    box-shadow: inset 1px 2px 14px 6px #fe4d4d;
    color: #333;
}
.paytitle h1 {
    font-size: 18px;
    font-weight: 600;
}
.paynet-footer {
    background: #e4ebf1;
    padding:  14px;
    text-align:  center;
}

button.btn.close-btn.btn-button {}

.pay-footer-button button {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 7px 14px;
    margin: 8px 4px;
    background: #ffffff;
    border: 1px solid #fff;
    box-shadow: 0px 0px 9px 2px #e0e0e0;
}

.pay-footer-button button:hover {
    background: #EE1C25;
    color: #fff;
    border: 1px solid #EE1C25;
}
.pay-title {
    padding:45px 7px;
    background: #e4ebf1;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}


/** payment **/
li.tips-show {
    padding: 10px;
    text-transform: capitalize;
    background: #fff;
    margin-top: 0px;
    border-top: 1px solid #EE1C25;
}

.paybox-area {
    overflow:  hidden;
    background:  #fff;
    position:  relative;
    left: -17px;
    padding: 7px;
}

.input-box ul li input {
    border: 1px solid #d0d5d8;
    border-radius: 3px;
}
.input-box ul li {
    display: inline-block;
    margin-bottom: 12px;
}

.input-box ul li label {
    display: block;
}
.paybox-num-button.cancel{background-color:#cc3535;color:#fff}
.paybox-num-button {
    font-size: 22px;
    margin: 3px 1px;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    background: transparent;
    color: #fff;
    color: #333;
    box-shadow: 0px 0px 6px 0px #d6d8d3;
}
.payment-area .table>tbody>tr>td{    padding: 1px;    vertical-align: middle;}
.paybox-num-button:hover,.pay-actoch .paybox-num-ac:hover{
    background:  #EE1C25;
    color: #fff;
}
.cash-left,.cash-card,.cash-card li{display: inline-block;}
.cash-card {
    position: relative;
}
.input-pay {
    width: 100%;
    padding: 0px 18px;
    line-height: 29px;
    border: 1px solid #bbbbbb;
    box-shadow: 0px 0px 6px 0px #bbbbbb;
    border-radius: 4px;
}
.paybox-left{line-height: 47px;}
.paybox-left h2 {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 6px;
    padding-bottom: 0;
    margin-top: 6px;
    border-bottom: 1px solid #eaeaea;
}
.cash-left li {
    line-height: 44px;
}
.cash-card li a, .cash-left li > a {
    padding: 7px 16px;
    border-radius: 19px;
    color: #333;
    text-transform: capitalize;
    box-shadow: 0px 0px 6px 0px #bbbbbb;
        border: 1px solid #bbbbbb;
}
.cash-card li a:hover,.cash-left li > a:hover {
    background: #EE1C25;
    color: #fff;
} 
/** all forms ***/
.form-group-inner input.form-control {
    border: 1px solid #eaeaea;
    margin: 14px 0;
    display: inline-block;
    box-shadow: none;
}

.all-form-element-inner label {
    margin: 19px 0;
}
.icheckbox_square-green,.iradio_square-green {
    float:  left;
    margin-right:  9px;
    line-height: 28px;
}
.inline-checkbox-cs .checkbox-inline+.checkbox-inline{
    margin-top: 18px;
    margin-left: 10px;
}
.form-group-inner button.btn.btn-primary,button.btn.btn-white.dropdown-toggle {
    background: #EE1C25;
    border: 1px solid #EE1C25;
    color:  #fff;
}
.input-group-btn.dropdown-segmented > button, .input-group-btn > button {
    background: #EE1C25;
    border-right: 1px solid #999;
    color: #fff;
}
.form-group-inner.input-with-success input[type="text"] {
    border: 1px solid #1ab394;
}
.form-group-inner.input-with-warning input[type="text"] {
    border: 1px solid #f8ac59;
}
.form-group-inner.input-with-error input[type="text"] {
    border: 1px solid #ed5565;
}
.input-group.file-caption-main {
    margin-top: 13px;
}
.form-group-inner .btn-primary:hover {
    background:  #333;
    color: #fff;
    border-color: #333;
}
.form-group-inner .btn-primary {
    color: #fff;
    background-color: #EE1C25;
    border-color: #EE1C25;
}


/*** user table ***/
.user-list-table table
 tr {
    border: 1px solid #e6e6e6;
}

.user-list-table table tr th,.user-list-table table tr td {
    border: 1px solid #e6e6e6;
}
.user-list-table table
 tr {
    border: 1px solid #e6e6e6;
}

.user-list-table table tr th,.user-list-table table tr td {
    border:1px solid #f5f5f5;
}
.user-action a:hover{background-color: #333;color: #fff}
.user-action a {
    padding: 8px 11px;
    color: #fff;
    border-radius: 0;
    font-size: 14px;
    background-color: #333;
    position: relative;
    border: 1px solid #333333;
    margin-right: 5px;
}
.user-action a:hover {
    color: #fff;
    background: #ee1c25;
    border: 1px solid transparent;
}
.user-inputbox input {
    border:  none;
    box-shadow: 1px 1px 4px 1px #eaeaea;
    border-radius: 31px;
    padding: 0 27px;
}
h2.user-list-title {
    font-size:  18px;
    text-transform:  capitalize;
    padding: 15px 0px;
    border-bottom: 1px solid #efeeee;
    margin-bottom: 26px;
}

.user-list-table table thead tr th {
    padding: 14px 11px;
}

.user-list {
    padding: 10px 20px;
    box-shadow: 1px 1px 6px 2px #e8e8e8;
}

.user-list-table table tr td {
    padding: 8px 11px;
}
.user-inputbox button.btn-submit {
    border: none;
    background: #EE1C25;
    padding: 7px 25px;
    border-radius: 16px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.user-inputbox button.btn-submit:hover {
    background: #333;
}
.user-inputbox {
    box-shadow: 1px 1px 6px 2px #e8e8e8;
    padding: 10px 20px;
}
a.user-removed {
    background: #f33434eb;
    color: #fff;
}
button.user-edits {
    background: #EE1C25;
    color: #fff;
    border: 1px solid #EE1C25;
    padding: 7px 8px;
    height: 32px;
}
button.user-edits:hover{
background-color:#333;
color: #fff;
border: 1px solid #333;  
}
.us-pop-container {
    width: 42%;
    margin: 0 auto;
    position: relative;
    background: #fff;
}
.pay-actoch .paybox-num-ac {
    height: 50px;
    width: 147px;
}
.paybox-num-change:hover,.paybox-num-ac:hover{background-color:#333;color:#fff}
.paybox-num-change, .paybox-num-ac {
    width: 147px;
    height: 160px;
     font-size: 12px; 
    background: #EE1C25;
    color: #fff;
}
.pay-actoch .paybox-num-button.paybox-num-change span {
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
}

.us-pop-container .user-inputbox {
    box-shadow: none;
}

/*** popup **/
.Popupmodel {
    display: none;
}
.Popupmodel {
display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.89);
    padding-top: 60px;
    z-index: 999;
}

.user-contaienr{

    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding:9% 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
    height: 100%;
}
/*** hold section **/
.hold-order-detaisls.table-srcoll {
    max-height: 709px;
}
.hold-l-search {
    position: relative;
    margin-bottom: 30px;
}
.hol-scrol {
    overflow: auto;
    max-height: 593px;
}
.hold-l-search button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 13px 22px;
    color: #333;
    font-size: 18px;
    background: transparent;
    border: transparent;
    border-left: 1px solid #e8e8e8;
}
.hold-l-search input[type=search] {
    border: 1px solid #e8e8e8;
    border-radius: 0;
    padding: 24px 11px;
    box-shadow: none;
}
.hold-l-search button:hover {
    background: #EE1C25;
    color: #fff;
}
.hold-order-detaisls .table>tbody>tr>td{
    padding: 16px 10px;
}
/* .hold-meta ul li {
    display: inline-block;
} */
.hold-area .hold-meta ul li {
    display: inline-block;
    background: #232323;
    line-height: 22px;
    color: #fff;
    padding: 3px 7px;
    margin-right: 2px;
    margin-bottom: 3px;
    border-radius: 9px;
}
.pop-removed {
    position:  absolute;
    right: 21px;
    top:  10px;
}

.pop-removed button {
    background: #EE1C25;
    border:  none;
    border-radius:  35px;
    width: 33px;
    height: 35px;
    color:  #fff;
}
.hold-order-detaisls .pos-to-right{
    margin-top: 35px;
}
.pop-removed button:hover {
    background: #333;
}
.hold-area .hold-meta ul li:hover {
    background: #EE1C25;
    color: #fff
}
.hold-stock {
    float: left;
    font-size: 15px;
    background: #ecf1f5;
    margin-right: 13px;
    width: 72px;
    height: 100%;
    text-align: center;
    padding: 33% 0;
    display: inline-block;
}
.hold-area {
    padding: 44px 37px;
}
.hold-list-items {
    background:  #ffffff;
    overflow:  hidden;
     padding-bottom: 35px;
}
.hold-item-dec h2 {
    font-size:  14px;
}
.hold-list-inner {
    overflow: hidden;
    background: #fcfcfc;
    border-radius: 5px;
    border: 1px solid #ecf1f5;
    margin-bottom: 24px;
    cursor: pointer;
}
.hold-item-dec {
    padding:5px 2px;
}
.hold-item-dec a {
    font-size: 14px;
    color: #333;
    display: inline;
    overflow: hidden;
    line-height: 0;
    clear: both;
}
.hold-item-dec a:hover{color:#EE1C25;}
/* .hold-meta {
    overflow: hidden;
    padding: 4px 0;
    background: #ecf1f5;
    width: 106px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
} */
.hold-area .hold-meta {
    overflow: hidden;
    padding: 4px 0;
    border-radius: 5px;
    margin-top: 10px;
}
.hold-order-detaisls h2 {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 35px;
    padding-bottom: 36px;
}
.hold-order-detaisls {
    background: #fff;
    padding: 41px 25px;
}
/* .hold-meta a {
    margin: 10px 2px;
    color:  #999999;
} */
.hold-area .hold-meta a {
    color: #fff;
    font-size: 12px;
}
.hold-order-detaisls table.table.pos-product-list-head thead {
    border-top: 1px solid #e8e8e8;
}

/*** popup **/
.Popupmodel {
    display: none;
}
.Popupmodel {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.89);
    padding-top: 10px;
    z-index: 999;
}
.order-author-info ul li {
    display: inline;
    padding-left: 0;
    /*padding-right: 79px;*/
    line-height: 40px;
}
.hold-order-detaisls .grand-toral span {
    border-top: 1px solid #9999;
    padding: 12px 0;
}
.hold-order-detaisls .grand-toral li {
    margin-top:  13px;
    color: black;
}

/*** Put on hold ***/
.putonhlod-container {
    width: 47%;
    margin: 0 auto;
}
.puthold-list-items .hold-l-search {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.puthold-list-items .hold-l-search strong {
    display: inline-block;
    border: 1px solid #e8e8e8;
    padding: 8px 7px;
    margin-right: -4px;
    position: relative;
    top: -1px;
    text-transform: capitalize;
}
.puthold-list-items .hold-l-search .puthol-s {
    display: inline-block;
    max-width: 89%;
    width: 100%;
}
.puthold-list-items .hold-l-search input[type=search] {
    padding: 20px 12px;
}
.putonhlod-container .hold-area {
    margin: 37px 50px;
    background: #fff;
    padding: 0;
}
.hold-areabox {
    background: #ecf1f5;
}
h2.user-list-title strong {
    font-size: 15px;
    font-weight: 600;
}
.user-inputbox input[type="checkbox"] {
    box-shadow: none;
    cursor: pointer;
}
.put-hol-table {
    padding: 10px 28px;
    margin-bottom: 43px;
}
.put-hol-table thead tr {
    border-top: 1px solid #e8e8e8;
}
.put-hol-table table.table.pos-product-list-head th {
    padding: 10px 9.1px;
}


.put-hold-footer {
    display: block;
    margin-top: 52px;
}
.put-hold-footer span {
    display: inline-block;
    color:  #EE1C25;
    margin-top: 9px;
}

.put-hold-footer ul li {
    display:  inline-block;
    text-align:  right;
}

.put-hold-footer ul {
    text-align:  right;
    display: inline-block;
    float:  right;
}

.put-hold-footer 
 ul li button.btn.btn-button {
    padding: 8px 22px;
    margin: 0px 4px;
    text-transform: uppercase;
}

.put-hold-footer ul li button.btn.btn-button:hover {
    background: #EE1C25;
    color:  #fff;
}

.put-hold-footer ul li button.btn.btn-button {
    background: #e4ebf1;
    font-weight: 600;
}


ul.grand-toral li span {
    border-top: 1px solid #d8dfe5;
    padding-top: 10px;
}


/*** split **/
.split-pas {
    border: 1px solid #e4ebf1;
    border-radius: 67px;
    width:70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20%;
}

.split-pas-top span,.split-pas-bottom span {
    display: block;
    font-size: 27px;
    color: #333;
}
.split-pas-top span:hover,.split-pas-bottom span:hover{color:#EE1C25}
.split-pas-top:hover,.split-pas-bottom:hover{
    background:#e4ebf1;
}
.split-pas-top {
    padding: 50px 0px;
    margin: 0;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
    border-bottom: 1px solid #e4ebf1;
}
.split-pas-bottom {
    padding: 50px 0px;
    background: transparent;
    margin: 0;
    border-bottom-left-radius: 43px;
    border-bottom-right-radius: 43px;
}
.split-container {
    width: 50%;
    margin: 0 auto;
    background: #ecf1f5;
}
.split-container table.table thead tr {
    border-top: 1px solid #e8e8e8;
}
.split-container .hold-area {
    background: #fff;
    margin: 58px;
}

/******* Report page ****/
.re-left {
    float:  left;
}

.re-right {
    float: right;
}

.repor-ing img {
    border-radius:  100%;
    box-shadow: 0px 3px 8px 1px #c7c7c7;
}

.repor-ing {
    margin-bottom: 13px;
}
.report-text h2 {
    font-size: 18px;
    text-transform: capitalize;
}
.report-text span {
    border-bottom:  1px solid #999;
    overflow:  hidden;
    margin-bottom: -1px;
    display: inline-block;
}

.report-text span h2 {
    margin-bottom: 3px;
}

.report-text h4 {
    font-size:  14px;
    text-transform:  capitalize;
    margin-bottom: 15px;
}
.report-page .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    text-transform: capitalize;
    color: #71a82c;
}
.report-page .table>tbody>tr>th,.report-page .table>tbody>tr>td,.report-page .table>thead>tr>th{
    padding: 3px 20px;
}
.report-page{
    padding: 11% 0;
}

.m-container {
    width: 95%;
    margin: 0 auto;
}
.ringer-logo img {
    margin-top: 7px;
}
.account-info ul > li:last-child {
    border-right: none;
}
/*** Discount pop up ***/
.dis-container {
    margin: 0 auto;
    background: #fff;
        width: 30%;
}

h2.dis-title {
    font-size: 15px;
    margin: 10px 0;
    padding: 13px;
    background: #EE1C25;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: -3px;
}

input#dis-input {
    width: 41%;
    display: inline-block;
    border: none;
    box-shadow: 0px 1px 7px 1px #dddddd;
    border-radius: 33px;
    margin-right: 14px;
}

.dis-input label {
    display: block;
}
.dis-select {
    margin: 0 auto;
    width: 300px;
}

.dis-input {
    float:  right;
}

.dis-footer {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 19px 0;
    background: #EE1C25;
    margin-top: 100px;
}

.dis-type {
    overflow: hidden;
    padding: 0 34px;
}
.dis-input button {
    padding: 2px 18px;
    border:  none;
    background: #EE1C25;
    color:  #fff;
    border-radius: 14px;
    font-size:  12px;
}

.dis-input button:hover {
    background:  #333;
    color:  #fff;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #fff;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border:1px solid #e2e2e2
}
.pos-cat-list-area {
    margin-top: 30px;
}
.select2-container .select2-selection--single {
    height: 42px;
    padding: 9px 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 6px;
}
.dis-select select.tb-select {
    width: 183px;
}
.dis-select label {
    display: block;
}
.dis-footer button {
    padding:  10px 26px;
    border:  none;
    background: #333;
    color:  #fff;
    margin:  0px 5px;
}

.dis-footer button:hover {
    background: #fff;
    color:  #333;
}

/*** END of Day ***/
.endofday-top .title {
    display:  inline-block;
}

.endofday-top .cancel {
    display:  inline-block;
    float:  right;
}
.endofday-top {
    background:  #fff;
    padding:  12px 8px;
}
.endofday-top .cancel
 button {
    font-size:  17px;
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
}
.endoffday-inner {
    background: #ecf1f5;
    border: 1px solid #ecf1f5;
}
.endof-day-btn ul li {
    display:  inline-block;
    padding: 16px 7px 10px;
    color:  #fff;
}
.endof-day-btn {
    text-align:  center;
}
.endof-day-btn ul li
 button {
    background: #EE1C25;
    border-radius: 24px;
    font-size:  13px;
    text-transform:  capitalize;

}
.endof-day-btn ul li button:hover{
background-color:#333;
color:#fff;
}
.endofday-top .cancel button:focus {
    border:  none;
    outline: transparent;
}

.endofday-top .cancel button:active {
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
}
.endofday-top .cancel button:hover {
    transform: rotate(-90deg);
    transition: all 0.4s ease-in-out;
    color: #EE1C25;
}

/*** enter cash **/
.enter-medel .dis-input {
    float: none;
    text-align: center;
    margin: 26px 0px 8px 0px;
}
.enter-medel .dis-input button {
    padding: 9px 20px;
    border: none;
    background: #EE1C25;
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    position: relative;
    top: -3px;
}
.enter-cash .endof-day-btn ul li button {
    background: #EE1C25;
    border-radius: 24px;
    font-size: 14px;
    text-transform: capitalize;
    padding: 8px 30px;
}
.enter-cash h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: -13px;
    color: #EE1C25;
    font-weight: bold;
}
.order-table-top ul > li a:active,.order-table-top ul > li a:focus,.order-table-top ul > li a:active:visited{
background-color:#EE1C25;
color: #fff    
}
.tips-input {
    padding: 38px 15px;
    background: #fff;
    border: 1px dashed #d2d2d2;
    margin: 12px 11px;
}

.tips-input input {
    border:  none;
    box-shadow: 1px 1px 5px 1px #b9b9b9;
}
li.tips-li {
    display: none;
    background: #fff;
    padding: 3px;
}


.invo-page {
    width: 12cm;
    height: auto;
   
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-weight: normal;
    font-size: 9px !important;
    font-family: Roboto
}
.invo-page .tableS tr td {
    padding: 2px;
    font-family: Roboto, sans-serif;
}
.invo-page .tableS tr td.noborder {
    border: none;
}
p.in-print-area {
    width: 12cm;
    margin-top: 16px;
}


/** invoice **/
.invoice-area {
    background: #ecf1f5;
    padding:5px;
    overflow: hidden;
    /*width:7.5cm;*/
    width: 3.13in; /*added by smartrahat 2019.06.15 3:44 PM*/

}
.voice-tables .pos-total-counts {
    padding: 0px 10px;
}
.invoice-page{line-height:18px; margin:0px;}
.invo-logo {
    float: left;
    margin-right: 15px;
    display: block;
    overflow: hidden;
}
.invo-header-info {
    display:  inline-block;
}

.invo-header-info ul li,.invo-heade-lock p {
    font-size: 12px;
    font-family:  Roboto Slab;
}

.invo-heade-lock {
    width:44%;
    float:  right;
    display:  block;
}

.inv-header {
    overflow: hidden;
    background: #e4ebf1;
    margin: -9px;
    padding: 7px 7px;
}

.invoice-totals span {
    border-top: 1px solid #EE1C25;
    padding-top: 4px;
}
.invoice-center {
    background: #ecf1f5;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 0;
}
.invoice-center ul li {
    display:  inline-block;
    line-height: 18px;
    text-align:  left;
    /*width: 42%;*/
    text-transform:  capitalize;
}
.line {
    overflow: hidden;
    width: 100%;
    height: 2px;
    background: #EE1C25;
}
.voic-table thead th{
    padding:3px 2px;
    color: #EE1C25;
}
.voic-table tbody td {
    padding: 5px 0 !important;
    text-align: center;
    border-bottom: 1px solid #d1d9e0;
}
.voice-tables .pos-to-right.text-right {
    text-align: right;
}
.pos-total-counts p {
    text-align: center;
    font-weight: bold;
}
.voice-tables .pos-to-right strong.left {
    text-align: left;
    float: left;
}
.invo-header-content {
    overflow: hidden;
}




/*** Report ***/
.prport-tatepiker table{
 margin-bottom: 0   
}
.prport-tatepiker .table>thead>tr>th {
    border-bottom: none;
}
.report-header {
    padding: 10px 22px;
    background: #dee7ee;
    box-shadow: 0px 2px 4px -1px #9a9a9a;
}
.report-page .table>thead>tr>th {
    padding: 5px 0;
}
.report-page2{
     padding: 4% 0;   
}
.prport-tatepiker .table>thead>tr>th input {
    padding: 6px 7px;
    border: none;
}
select.re-monthly,select.re-yearly {
    padding: 7px 17px;
    border: none;
    margin: 5px 7px;
}
.report-search button {
    padding: 5px 17px;
    margin-top: -1px;
    background: #333;
    color: #fff;
}
.report-search button:hover {
    background: #EE1C25;
    color: #fff;
    text-transform: capitalize;
}

.report-table2 thead tr {
    background: #cad2d8;
    color: #333;
    font-weight: bold;
    text-transform: capitalize;
}
.report-table2 thead tr th,.report-table2 tbody tr th,.report-table2 tbody tr td{
    border: 1px solid #b6bdc1;
}
.report-table2 tbody tr th, .report-table2 tbody tr td {
    padding: 2px;
    font-size: 13px;
}
.report-table2 {
    margin-top: 42px;
    box-shadow: 1px -3px 4px -2px #dadada;
}
.allpos-item:after {
  content: '';
  display: block;
  clear: both;
}


.pos-me-img {
    width: 108px;
    height: 72px;
}
.invo-logo h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top:5px;
    text-transform: capitalize;
}

/** employer time clock ** */
.big-btns button:hover,.color-1:hover,.color-3:hover{background-color: #333;color:#fff;}
.big-btns button {
    width: 100%;
    margin: 7px 0;
    padding: 11px;
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
    background: #EE1C25;
}

.btn-smalls button{
    padding: 8px 15px;
    margin-right: 4px;
    margin-bottom: 6px;
    background: #ffffff;
    color: #333;
}
.employ-inner {
    padding: 17px 25px;
    background: #E4EBF1;
    border: 1px solid #d7e0e8;
    box-shadow: 1px 1px 4px 1px #e4ebf1;
}
.employ-box {
    color: #333;;
}
.employ-section {
    padding: 13% 0;
}

.cancel-btn:hover{
    background:#333 !important;
    color: #fff;
}
.btn-smalls button:hover{
    background-color:#EE1C25;
    color: #fff
}
.in-btn button {
    width: 100%;
    padding: 39px 0;
    margin: 4px 0px;
    font-weight: bold;
    font-size: 19px;
    background: #ffffff;
    color: #333;
}
.in-btn button:hover{
    background-color: #EE1C25;
    color: #fff;
    box-shadow:inset 0px 0px 5px 2px #659e31
}

.employ-left input {
    border: 1px solid #dde2e6;
    margin-top: 17px;
    margin-bottom: 12px;
    border-radius: 3px;
    box-shadow: none;
}
.employ-inner h2 {
    text-transform: capitalize;
    font-size: 18px;
    padding-bottom: 6px;
    font-weight: 700;
}
.timer-section #clock  p{
    display: inline-block;
    font-size: 16px;
    margin-top: 11px;
    font-weight: bold;
    margin-bottom: -3px;
    color: #EE1C25;
}
.timer-section  p#date{
    font-size: 11px;
    font-weight: bold;
    position: relative;
    top: -7px;
}
div#clock span {
    font-size: 22px;
    margin:0 2px;
    color: #EE1C25;
}
.employ-right-btn button {
    width: 100%;
    margin: 4px 0;
    padding: 14px;
    text-transform: capitalize;
    font-weight: bold;
}
.color-1 {
    background: #EE1C25;
    color: #fff;
}
.color-3 {
    background: #cc3535;
    color: #fff;
}
.color-2:hover {
    background-color: #EE1C25;
    color: #fff
}
.color-2 {
    color: #333;
    background: #fff;
}
button.cancel-btn{
    background:#EE1C25 !important;
    color: #fff;
}


.nav2 li a.active{
    background: #EE1C25;
    color: #fff;
}

.record-success{
    background-color:#EE1C25!important;
    color: #fff!important;
}
.break-success{
    background-color:#333;
    color: #fff
}

/*** hold order ***/
.hold-order-container{width:15%;margin: 0 auto;padding: 4% 0;}
.hold-order-container .hold-areabox {
    padding: 17px;
    background: #fff;
    /*box-shadow: 0px 0px 7px 1px #eaeaea;*/
}
.hold-order-container .hold-areabox h1 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 18px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 6px;
    text-transform: capitalize;
}
.hold-order-btn button {
    width: 65px;
    height: 55px;
    margin: 6px;
    background: #EE1C25;
    color: #fff;
    border-radius: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}
.hol-order-input input {
    border-color: #e2e2e2;
    box-shadow: 0px 0px 7px 0px #e2e2e2;
    border-radius: 4px;
    margin-bottom: 13px;
}
.hold-order-btn button:hover,.hold-order-btn button:focus{
    background-color:#333;
    color:#fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}
.hold-submit button {
    padding: 12px 31px;
    background: #333;
    color: #fff;
    border-radius: 0;
    text-transform: capitalize;
    margin-top: 18px;
    margin-bottom: 7px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}
.hold-submit button:hover,.hold-submit button:focus{
    background: #EE1C25;
    color: #fff;
    border-radius: 22px;
}
.hold-areabox .paytitle{
background-color: transparent;  
position: relative;  
}
.hold-areabox .close-button {
    /*top: -12px;*/
}
.order-table-top ul > li button {
    background: #fff;
    padding:9px 17px;
    box-shadow: 2px 2px 3px 0px #c3c3c3;
}
.order-table-top ul > li button:hover {
    background: #EE1C25;
    color: #fff;
    box-shadow: 2px 2px 2px 0px #5c8635;
}
.order-table-top ul > li button span {
    margin-right: 5px;
}
.allpos-dec {
    margin-top: 8px;
    font-size: 10px;
    font-weight: bold;
    color: #333;
    line-height: 10px;
}


/**** user info ***/
.u-b-info-left {
    float: left;
}
.u-b-info-left ul li, .u-b-info-right ul li {
    line-height: 32px;
    font-size: 14px;
}
.u-b-info-left ul li strong, .u-b-info-right ul li strong {
    margin-right: 8px;
}
.u-b-info-left ul li span {}
.u-info-inner {
    box-shadow: 0px 0px 5px 1px #eaeaea;
    padding: 19px;
    margin: 26px 0;
}
.u-b-info-left,.u-b-info-right {
    float: left;
    margin-top: 10px;
}
.u-info-title h2 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 11px;
    border-bottom: 1px solid #efeeee;
    padding-bottom: 9px;
}
.user-info-img {
    box-shadow: 0px 0px 5px 1px #b1b1b1;
    padding: 10px;
    border-radius: 3px;
}
.user-info-downloads{}
.user-info-downloads a {
    padding: 10px 39px;
    background: transparent;
    box-shadow:0px 0px 5px 0px #c7c7c7;
    margin: 12px 15px;
    border-radius: 41px;
    font-weight: bold;
    color: #1f1f1f;
    text-transform: uppercase;
}
.user-info-downloads a:hover{background-color:#EE1C25;color: #fff}
.user-info-section {
    padding: 52px 0;
}



.in-btn button:focus,.color-1:focus{
    background-color:#EE1C25;
    color: #fff
}
.color-1:focus{
    background-color:#333;
    color: #fff
}


/*** hold order ***/
.hold-order-container{width:15%;margin: 0 auto;padding: 4% 0;}
.hold-order-container .hold-areabox {
    padding: 17px;
    background: #fff;
    box-shadow: 0px 0px 7px 1px #eaeaea;
}
.hold-order-container .hold-areabox h1 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 18px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 6px;
    text-transform: capitalize;
}
.hold-order-btn button {
    width: 65px;
    height: 55px;
    margin: 6px;
    background: #EE1C25;
    color: #fff;
    border-radius: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}
.hol-order-input input {
    border-color: #e2e2e2;
    box-shadow: 0px 0px 7px 0px #e2e2e2;
    border-radius: 4px;
    margin-bottom: 13px;
}
.hold-order-btn button:hover,.hold-order-btn button:focus{
    background-color:#333;
    color:#fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}
.hold-submit button {
    padding: 12px 31px;
    background: #333;
    color: #fff;
    border-radius: 0;
    text-transform: capitalize;
    margin-top: 18px;
    margin-bottom: 7px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}
.hold-submit button:hover,.hold-submit button:focus{
    background: #EE1C25;
    color: #fff;
    border-radius: 22px;
}
.hold-areabox .paytitle{
    background-color: transparent;
    position: relative;
}
.hold-areabox .close-button {
    /*top: -12px;*/
}
.order-table-top ul > li button {
    background: #fff;
    padding:9px 17px;
    box-shadow: 2px 2px 3px 0px #c3c3c3;
}
.order-table-top ul > li button:hover {
    background: #EE1C25;
    color: #fff;
    box-shadow: 2px 2px 2px 0px #5c8635;
}
.order-table-top ul > li button span {
    margin-right: 5px;
}
.price {
    padding:2px 0px;
    color: #555;
    font-weight: bold;
}


/*** loader ***/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 136px;
    height: 136px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color:#ffa800;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color:#71a82c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color:#9b0c23;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }

/*** tip amount popup ***/

input#tip-amount-input, input#delivery-charge-input {
    width: 70%;
    margin: 0 auto;
    border: none;
    box-shadow: 0px 0px 13px 0px #cacaca;
    border-radius: 28px;
}
.tip-amount .close-button button {
    box-shadow: none;
    color: #fff;
    background: #333;
}
.tip-amount .close-button button:hover{background-color: #fff;color: #333}
.tip-amount .close-button {
    position: absolute;
    right: 8px;
    top: 2px;
}
.cash-card li button {
    padding: 7px 16px;
    border-radius: 19px;
    color: #333;
    text-transform: capitalize;
    box-shadow: 0px 0px 6px 0px #bbbbbb;
    border: 1px solid #bbbbbb;
    background-color: transparent;
}
.cash-card li button:hover{
    background: #EE1C25;
    color: #fff;
}

/*************tr-bg-color **********/

tr.split-bg {
    background: #EE1C25;
    color: #fff;
}


tr.split-bg-2 {
    background: #EE1C25;
    color: #fff;
}



.invoice-page ul.total li {
    text-align: right;
}
.invoice-page .pos-to-right {
    border-bottom: 1px solid #999;
}
.invoice-pageul .total li {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    font-weight: bold;
}

.invoice-page .pos-total-counts .free {
    float:  left;
}

.invoice-page .pos-total-counts .text-right {
    float:  right;
}

.invoice-page .pos-total-counts ul li {
    overflow:  hidden;
    display:  block;
}
.invoice-page .pos-to-right ul li .free {
    float:  left;
}

.invoice-page .pos-to-right ul li .text-right {
    float:  right;
}

.invoice-page .pos-to-right ul li {
    display:  block;
    overflow:  hidden;
}
.invoice-page .invo-header-content {
    overflow: hidden;
    text-align: right;
}
.invoice-page .voic-table tbody td {
    padding: 5px 5px;
}
.invoice-page .inv-header {
    /*margin-top: 10px;*/
}
.invoice-page .invo-header-info {
    margin-right: 8px;
    font-weight: bold;
    text-align: center;
    width:100%;
}
.invoice-page .invo-logo {
    font-weight:  bold;
}
ul.total li {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    font-weight: bold;
}

.user-action .btn-info {
    background-color: #C39D49;
    border-color: #C39D49;
}
nav.navbar.navbar-default.bootsnav.on.no-full {
    position:  relative;
}

.online-status {
    position: absolute;
    right: 53px;
    top: 33%;
}

span.fa.fa-circle.active-c {
    color: #41e1b6;
}

span.fa.fa-circle.d-active-c {
    color: #ff0000c2;
}
.online-status span.fa {
    color: #ff0000c2;
    margin: 0px 2px;
}

.logo1 img {
    height: auto;
    width: auto;
    object-fit:  cover;
}


.split-check {
    margin-right: 17px;
}
.split-table  table.table.pos-product-list-head {
    margin-bottom: -16px;
}
.pos-to-right.text-right button {
    background: transparent;
    border: none;
    box-shadow: 0px 0px 8px 0px #868686;
    border-radius: 15px;
    margin-top: 14px;
}
.pos-to-right.text-right button:hover{background-color: #EE1C25;color: #fff}

.invo-header-content {
    overflow: hidden;
    text-align: right;
}

.voic-table tbody td {
    padding: 5px 5px;
}
.inv-header {
    /*margin-top: 10px;*/
}
.invo-header-info {
    margin-right: 8px;
    font-weight: bold;
}
.invo-logo {
    font-weight:  bold;
}

.invo-header-content {
    text-align: center;
}
.invo-logo {
    margin-right: 0;
    text-align: center;
    float: none;
}
.invo-header-info {
    margin-right: 0;
    font-weight: bold;
}
.inv-header {
    border-bottom: 2px solid #cc3535;
}
.line {
    background: #cc3535;
}
.voic-table thead th,.invo-logo p {
    color: #cc3535;
}
.invo-header-info ul li{
    font-size: 12px;
    font-family: Roboto Slab;
    line-height: 19px;
}
.invo-logo strong{
    font-size: 15px;
}
.invoice-area {
    /*border: 1px solid #efefef;*/
}


/**** payment final ***/

.payment_final {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    background: #fff;
    padding: 8% 0;
}

.payment-final button {
    padding: 60px 66px;
    font-weight: bold;
    box-shadow: 0px 0px 13px 0px #9e9e9e;
    background: #fff;
    margin: 10px 7px;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 24px;
}

.payment-final button:hover {
    background:  #ee1c25;
    color:  #fff;
}

.payment-final-top .close-button button {
    box-shadow: 0px 0px 7px 1px #c7c7c7;
    background: #fbfbfb;
}

.payment-final-top .close-button button:hover {
    background:  #333;
    color:  #fff;
}

.finalpay .order-author-info ul li {
    line-height: 0;
}
.order-author-info.paidarea {
    position: relative;
}

.close-paid-bg {
    position: absolute;
    z-index: 999;
    width: 111px;
    height: 130px;
    transform: rotate(-39deg);
    opacity: .9;
    top: -105px;
    left: 15px;
}
.closeorderls {
    float: left;
    margin-bottom: 24px;
}
button.btn.btn-button.reprint, button.re-edit-order {
    padding: 2px 29px;
    margin-top: 7px;
    background: #333;
    color: #fff;
    margin-bottom: 0px;
}
button.btn.btn-button.reprint:hover,button.re-edit-order:hover{
background-color: red;color: #fff 
}
.paytitle.closebtbn button {
    top: -21px;
    position: relative;
}
button.btn.btn-button.re-edit-order {
    padding: 2px 42px;
}

.hold-metad ul li {
    display:  inline-block;
}

.hold-metad ul li a {
    background: #ebf0f4;
    padding: 6px 10px;
    margin:  0;
    padding-bottom: 4px;
    font-size: 18px;
    color:  #333;
}
.hold-metad ul li a.deletes:hover {
    background: #fd4e4e;
    color: #fff;
}
.hold-metad ul li a.prints:hover {
    background: #1d1708;
    color: #fff;
}
.hold-metad ul li a.moneys:hover {
    background: #77af44;
    color: #fff;
}

button.btn.btn-button.re-delete-order {padding:  2px 33px;margin-top:  5px;background: #333333;color:  #fff;}

button.btn.btn-button.re-delete-order:hover {
    background:  red;
}

.dis-inner h2.dis-title {
    margin-bottom: 44px;
}
button.btn.btn-button.kdcustom {
    margin-left: -5px;
    margin-top: -2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #333;
    background: #f6f6f6;
    }

.customer-info {
    /* border-top: 1px solid #cc3535; */
    padding: 7px 0px;
}

.customer-info ul li{
    line-height: 18px !important;
    text-align: left !important;
    text-transform: capitalize !important;
    display: block !important;
}

/**** update 30-06-18 */
.pos-me-img img {
    width:  100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 14px 2px #adadad;
}
.pos-me-img {
    width: 130px;
    height: 73px;
    min-height: 100%;
}
.pos-me-img:hover:after {
    background-color: #fb00dc4a;
}
li.pos-c-menu {
    padding:0;
    min-height: 120px;
    box-shadow: 0px 0px 9px 1px #d8d8d8;
}
li.pos-c-menu h6 {
    font-weight: 500;
    margin-top: 13px;
    margin-bottom: 1px;
    font-size: 12px;
    width: min-content;
    text-align: center;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 5px;
}

.logo1 {
    position:  relative;
    background:  #fff;
    clear:  both;
    width: 79px;
    height:  auto;
    object-fit:  cover;
}

.logo1 a {
    top: 5px;
    z-index: 9999;
    background: #fff;
    padding: 0px;
    position:  absolute;
}

.hold-item-dec a h4 {
    background: #e6dcdc;
    margin-top: -4px;
    padding: 15px 13px;
    text-align: center;
}

/* kitchen***/

.kitchen-container .payment-container {
    width: 85%;
    margin: 0 auto;
    background: #ecf1f5;
}
.table-header {border-bottom: 1px solid #f1efef;padding-bottom: 6px;}

.order-table-contetn-table .select2-searchss .select2-container .select2-selection--single {
    width: 99px;
}
.order-table-contetn-table .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: -2px;
    right:-14px;
        display: none;
}


/**** update Menu area css 09-07-18 ***/

.manearea .navbar-default {
background-color: #0c0a0a;
    border-color: #0c0a0a;
}
ul.nav>li>a {
    padding: 13px 13px;
}
.navbar-default .navbar-nav>li>a {
    color: #999;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding: 21px 13px;
}
ul.nav.navbar-nav li a > span.fa {
font-size: 17px;
color: #999;
margin-right: 10px;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out
}
ul.nav.navbar-nav li a:hover, ul.nav.navbar-nav li a:hover > span.fa {
color: #ffffff;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out
}
.manearea .navbar {
    position: relative;
    min-height: auto;
    margin-bottom: 0;
    border: none;
}
.account-info > ul > li {
    border-right: 1px solid #232323;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}
nav.navbar-default .navbar-nav>li>a:focus, nav.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.open>.dropdown-menu > li a {
    line-height:  30px;
    background: transparent;
    margin:  0;
}
.open>.dropdown-menu {
    padding:  0;
    border-radius:  0;
    border:  none;
}
.open>.dropdown-menu > li a:hover {
    background: #0c0a0a;
}
.account-info .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #ee1c25;
    border: 1px solid #ee1c25;
    border-radius: 4px;
}
.account-info .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #ffffff;
}
.account-info .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #ffffff;
}

.logoss {
    /* float: left; */
    /* margin-top: 1px; */
    /* margin-left: 2px; */
    /* position: absolute; */
    width: 100px;
    margin: 10px 11px;
    margin: 0 auto;
    margin-bottom: 8px;
}
